<div class="list-content profile">
    <h2>Profile</h2>
    <div align="center" class="img-rounded">
      <img src="imgs/profile_2.jpg" alt="image">
    </div>

      <ng-include src="'views/info.html'"></ng-include>
    <h3>You might not think that programmers are artists, but programming is an extremely creative profession. It's logic based creativity -John Romero</h3>
    <a class="btn-close"><i class="fa fa-times"></i></a>
</div>
<div class="list-content skills">
    <h2>Skills</h2>
    <div align="center" class="img-rounded">
      <img src="imgs/profile_2.jpg" alt="image">
    </div>

      <ng-include src="'views/skills.html'"></ng-include>
    <h3>You can't connect the dots looking forward; you can only connect them looking backwards. So you have to trust that the dots will somehow connect in your future. -Steve Jobs</h3>
    <a class="btn-close"><i class="fa fa-times"></i></a>
</div>
<div class="list-content social">
    <h2>Social</h2>
    <div align="center" class="img-rounded">
      <img src="imgs/profile_2.jpg" alt="image">
    </div>

      <ng-include src="'views/social.html'"></ng-include>
    <h3>A programmer is a person who fix a problem that you don't know you have, in a way you don't understand</h3>
    <a class="btn-close"><i class="fa fa-times"></i></a>
</div>
<div class="list-content educ">
    <h2>Educational Background</h2>
    <div align="center" class="img-rounded">
      <img src="imgs/profile_2.jpg" alt="image">
    </div>

      <ng-include src="'views/educ.html'"></ng-include>
    <h3>Most good programmers do programming not because they expect to get paid or get adulation by the public, but because it is fun to program. -Linus Torvalds</h3>
    <a class="btn-close"><i class="fa fa-times"></i></a>
</div>
<div class="list-content workexp">
    <h2>Work Experience</h2>
    <div align="center" class="img-rounded">
      <img src="imgs/profile_2.jpg" alt="image">
    </div>

      <ng-include src="'views/workexp.html'"></ng-include>
    <h3>Everybody should learn how to program a computer because it teaches you how to think. -Steve Jobs</h3>
    <a class="btn-close"><i class="fa fa-times"></i></a>
</div>
