<div>
  <md-card>
    <md-card-header>
      <md-card-header-text>
        <h3 align="center">Information</h3>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <md-list-item class="md-3-line" ng-click="null">
        <div class="md-list-item-text">
          <p><h3>Firstname : {{info.first_name}}</p>
          <p><h3>Surname : {{info.last_name}}</p>
          <p><h3>Middlename : {{info.middle_name}}</p>
          <p><h3>Birthday : {{info.bday}}</p>
          <p><h3>Age : {{info.age}}</p>
          <p><h3>Address : {{info.location}}</p>
          <p><h3>Contact #: {{info.mobile}}</p>
          <p><h3>E-mail : {{info.email}}</p>
        </div>
      </md-list-item>
    </md-card-content>
  <md-card>
</div>
